* {
  box-sizing: border-box;
}
* body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}
* body .bodyContainer {
  display: grid;
  grid-template-rows: 40vh 60vh;
  grid-template-columns: 20vw 60vw 20vw;
  grid-template-areas: "upLeft upCenter upRight" "middleLeft middleCenter middleRight";
  gap: 0;
  text-align: center;
}
* body .bodyContainer .tooltip:hover .tooltipText {
  visibility: visible;
  color: #faf8f9;
  margin: 1rem;
}
* body .bodyContainer .tooltip:hover .tooltipText:hover {
  color: #291f1e;
}
* body .bodyContainer .tooltipText {
  visibility: hidden;
  position: relative;
  top: 2rem;
  right: 4rem;
  font-weight: bold;
  text-decoration: none;
}
* body .bodyContainer .tile:hover {
  animation: flipTile-hor 2s ease-in-out forwards;
}
* body .bodyContainer .link {
  font-style: italic;
}
* body .bodyContainer .upLeft {
  grid-area: upLeft;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #291f1e;
  color: #faf8f9;
  font-size: 0.9rem;
}
* body .bodyContainer .upLeft a {
  grid-area: downMiddle;
  color: #faf8f9;
  text-decoration: none;
  font-weight: bold;
  padding: 0.25rem;
}
* body .bodyContainer .upLeft a:hover {
  color: #ee7a99;
}
* body .bodyContainer .upCenter {
  grid-area: upCenter;
  background-image: url("/media/images/bank.jpg");
  background-size: cover;
  background-position: right top;
}
* body .bodyContainer .upRight {
  grid-area: upRight;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #291f1e;
  color: #faf8f9;
  font-size: 0.9rem;
}
* body .bodyContainer .upRight a {
  grid-area: downMiddle;
  color: #faf8f9;
  text-decoration: none;
  font-weight: bold;
  padding: 0.25rem;
}
* body .bodyContainer .upRight a:hover {
  color: #ee7a99;
}
* body .bodyContainer .middleLeft {
  grid-area: middleLeft;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #faf8f9;
  color: #291f1e;
}
* body .bodyContainer .middleLeft img {
  width: 60%;
  filter: grayscale(1);
}
* body .bodyContainer .middleCenter {
  grid-area: middleCenter;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #291f1e;
  color: #faf8f9;
  font-size: 0.9rem;
}
* body .bodyContainer .middleCenter h1 {
  margin-bottom: 2rem;
}
* body .bodyContainer .middleCenter .middelCenterContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}
* body .bodyContainer .middleCenter .middelCenterContent a {
  color: #ee7a99;
  text-decoration: none;
  padding: 0.25rem;
}
* body .bodyContainer .middleCenter .middelCenterContent a:hover {
  color: #faf8f9;
}
* body .bodyContainer .middleRight {
  grid-area: middleRight;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #faf8f9;
  color: #291f1e;
}
* body .bodyContainer .middleRight img {
  width: 60%;
  filter: grayscale(1);
}
@keyframes flipTile-hor {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@media only screen and (max-width: 600px) {
  * body a {
    font-size: 0.75rem;
  }
  * body h1 {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=index.css.map */
