* {
	box-sizing: border-box;

	body {
		font-family: "Ubuntu", sans-serif;
		margin: 0;

		.bodyContainer {
			display: grid;

			.headerContainer {
				display: flex;
				flex-direction: column;
				padding-left: 2rem;
				padding-top: 1rem;
				color: #291f1e;

				.home {
					width: 7rem;
					background-color: transparent;
					border: none;
					cursor: pointer;

					img {
						height: 1.5rem;
					}

					a {
						font-size: 1.5rem;
						font-weight: 600;
						text-decoration: none;
						color: #ce0f69;
					}
				}
			}

			.transformContainer {
				display: flex;
				margin-top: 1rem;
				background-color: #291f1e;
				height: 15rem;

				.transform {
					display: flex;
					align-items: center;
					justify-content: center;
					text-align: center;
					background-color: #ce0f69;
					color: #faf8f9;
					height: 5rem;
					width: 5rem;
					font-size: 0.9rem;
					cursor: pointer;
				}

				.animated {
					-moz-animation: transformMe;
					-webkit-animation: transformMe;
					animation: transformMe 8s ease-in-out forwards;
				}

				@keyframes transformMe {
					0% {
						transform: translateY(0);
					}
					10% {
						transform: translateY(5rem);
						background-color: #ce0f69;
						color: #faf8f9;
						border-radius: 50%;
					}
					22% {
						transform: translateY(5rem) translateX(10rem) scale(225%);
						background-color: #ce0f69;
						color: #faf8f9;
						border-radius: 50%;
					}
					32% {
						transform: translateY(2rem) translateX(25rem) scale(50%);
						color: #faf8f9;
						border-radius: 50%;
					}
					45% {
						transform: translateY(2rem) translateX(25rem) rotateZ(45deg);
						color: #faf8f9;
						border-radius: 0;
					}
					55% {
						transform: translateY(9rem) translateX(25rem) rotateZ(45deg);
						background-color: #4461ee;
						color: #faf8f9;
						border-radius: 0;
					}
					66% {
						transform: translateY(10rem) translateX(25rem);
						background-color: #4461ee;
						color: #faf8f9;
						border-radius: 0;
					}
					73% {
						transform: translateY(10rem) translateX(25rem) skew(20deg, 0);
						background-color: #4461ee;
						color: #faf8f9;
						border-radius: 0;
					}
					80% {
						transform: translateY(10rem) translateX(25rem) skew(-20deg, 0);
						background-color: #4461ee;
						color: #faf8f9;
						border-radius: 0;
					}
					90% {
						transform: translateY(10rem) translateX(25rem);
						background-color: #291f1e;
						color: #faf8f9;
						border-radius: 50%;
					}
					100% {
						transform: translateY(12rem) translateX(25rem);
						background-color: #291f1e;
						color: #291f1e;
						border-radius: 50%;
					}
				}
			}

			.videoContainer {
				display: grid;
				height: 700px;
				width: 100%;
				position: relative;
				z-index: 1;

				.snippet1 {
					display: grid;
					background-color: #140439;
					border-radius: 25px;
					position: absolute;
					z-index: 3;
					color: blanchedalmond;
					padding: 25px;
					margin: 25px;
				}

				.snippet2 {
					display: grid;
					background-color: #140439;
					border-radius: 25px;
					position: absolute;
					z-index: 3;
					color: blanchedalmond;
					padding: 25px;
					margin: 25px;
					margin-left: 675px;
				}

				.snippet3 {
					display: grid;
					background-color: #140439;
					border-radius: 25px;
					position: absolute;
					z-index: 3;
					color: blanchedalmond;
					padding: 25px;
					margin: 25px;
					margin-left: 1300px;
				}

				.filter {
					height: 700px;
					width: 100%;
					background: #ce0f69;
					background: -webkit-linear-gradient(top left, #ce0f69, #4461ee);
					background: -moz-linear-gradient(top left, #ce0f69, #4461ee);
					background: linear-gradient(to bottom right, #ce0f69, #4461ee);
					// background: #b5189f;
					// background: -webkit-linear-gradient(top left, #b5189f, #4461ee);
					// background: -moz-linear-gradient(top left, #b5189f, #4461ee);
					// background: linear-gradient(to bottom right, #b5189f, #4461ee);
					position: absolute;
					z-index: 2;
					opacity: 0.7;
				}

				video {
					position: absolute;
					object-fit: cover;
					height: 700px;
					width: 100%;
				}
			}

			.row4 {
				height: 2rem;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: #caffbf;
				color: 291f1e;
			}
		}
	}
}
