* {
	box-sizing: border-box;

	body {
		font-family: "Ubuntu", sans-serif;
		margin: 0;

		.bodyContainer {
			display: grid;

			.homeContainer {
				padding-left: 2rem;
				padding-top: 1rem;

				img {
					height: 1.5rem;
				}

				a {
					font-size: 1.5rem;
					font-weight: 600;
					text-decoration: none;
					color: #ce0f69;
				}
			}

			.transformContainer {
				display: flex;
				margin-top: 2rem;
				background-color: #291f1e;
				height: 12rem;

				.transform {
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: #4461ee;
					color: #291f1e;
					height: 5rem;
					width: 5rem;
				}
			}

			.videoContainer {
				display: grid;
				height: 700px;
				width: 100%;
				position: relative;
				z-index: 1;

				.snippet1 {
					display: grid;
					background-color: #140439;
					border-radius: 25px;
					position: absolute;
					z-index: 3;
					color: blanchedalmond;
					padding: 25px;
					margin: 25px;
				}

				.snippet2 {
					display: grid;
					background-color: #140439;
					border-radius: 25px;
					position: absolute;
					z-index: 3;
					color: blanchedalmond;
					padding: 25px;
					margin: 25px;
					margin-left: 675px;
				}

				.snippet3 {
					display: grid;
					background-color: #140439;
					border-radius: 25px;
					position: absolute;
					z-index: 3;
					color: blanchedalmond;
					padding: 25px;
					margin: 25px;
					margin-left: 1300px;
				}

				.filter {
					height: 700px;
					width: 100%;
					background: #b5189f;
					background: -webkit-linear-gradient(top left, #b5189f, #4461ee);
					background: -moz-linear-gradient(top left, #b5189f, #4461ee);
					background: linear-gradient(to bottom right, #b5189f, #4461ee);
					position: absolute;
					z-index: 2;
					opacity: 0.7;
				}

				video {
					position: absolute;
					object-fit: cover;
					height: 700px;
					width: 100%;
				}
			}

			.row4 {
				background-color: grey;
			}
		}
	}
}
