body {
	font-family: "Ubuntu", sans-serif;
	margin: 0;
	width: 100vw;
	height: 100vh;

	.headerContainer {
		display: flex;
		flex-direction: column;
		padding-left: 2.5rem;
		padding-top: 1rem;
		color: #291f1e;
	}

	#shape {
		width: 200px;
		height: 200px;
		background-color: red;
		display: none;
		position: relative;
	}

	.bold {
		font-weight: bold;
	}
}
