body {
	width: 100vw;
	height: 100vh;

	.headerContainer {
		display: grid;
		grid-template-rows: 1fr 3fr auto;
		overflow: wrap;
		display: flex;
		flex-direction: column;
		padding-left: 2.5rem;
		padding-top: 1rem;
		color: #291f1e;
	}

	#shape {
		width: 200px;
		height: 200px;
		background-color: red;
		display: none;
		position: relative;
	}

	.bold {
		font-weight: bold;
	}
}
