body {
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;

	.headerContainer {
		background-color: #291f1e;
		color: white;
		overflow: wrap;
		display: flex;
		flex-direction: column;
		padding: 0rem 5% 0.5rem;
	}

	h2 {
		margin: 1rem 0 0.5rem;
	}

	p {
		margin: 0.5rem;
		font-size: 0.9rem;
	}

	#shape {
		width: 200px;
		height: 200px;
		background-color: red;
		display: none;
		position: relative;
	}

	.bold {
		font-weight: bold;
	}
}
