* {
	box-sizing: border-box;

	body {
		font-family: "Ubuntu", sans-serif;
		margin: 0;

		.bodyContainer {
			display: grid;
			text-align: center;
			a {
				text-decoration: none;
			}

			.home {
				margin: 1rem 2rem;
				width: 7rem;
				background-color: transparent;
				border: none;
				cursor: pointer;

				img {
					height: 1.5rem;
				}

				a {
					font-size: 1.5rem;
					font-weight: 600;
					color: #ce0f69;
				}
			}
		}
	}
}
