* {
	box-sizing: border-box;

	body {
		font-family: "Ubuntu", sans-serif;
		margin: 0 auto;
		overflow-x: hidden; /* Hide scrollbars */

		.bodyContainer {
			margin: 0 auto;
			display: grid;
			grid-template-rows: auto;
			grid-template-columns: 20vw 80vw;
			grid-template-areas:
				"leftOne rightOne"
				"leftTwo rightTwo"
				"leftThree rightThree"
				"leftFour rightFour"
				"leftFive rightFive";
			gap: 0;
			text-align: center;

			.link {
				font-style: italic;
			}

			.programming {
				grid-area: leftOne;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				font-size: 0.65rem;
				color: #0d0e10;
				background-color: #f1f0f6;

				.home {
					display: flex;
					flex-direction: column;
					align-items: center;
					a {
						font-size: 1.25rem;
					}
				}

				p {
					color: #444c5a;
				}
			}

			.foto1 {
				grid-area: rightOne;
				background-image: url("/media/images/sigrid1.jpg");
				background-size: cover;
				background-position: center top;
			}

			.referentie {
				grid-area: leftTwo;
				display: flex;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				align-content: center;
				color: #bdc6e5;
				background-color: #0d0e10;
				font-size: 0.65rem;
				h4 {
					color: #f1f0f6;
				}
				p {
					font-style: italic;
					padding: 0.25rem;
				}
			}

			.rijmpje {
				grid-area: rightTwo;
				display: flex;
				flex-direction: column;
				align-items: center;
				color: #291f1e;
				background-color: #f1f0f6;
				font-size: 0.7rem;
				p {
					margin-top: 0;
					color: #444c5a;
					text-decoration: none;
					padding: 0.25rem;
				}
			}

			.hobbies {
				grid-area: leftThree;
				display: flex;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				align-content: center;
				color: #0d0e10;
				background-color: #f1f0f6;
				font-size: 0.65rem;
				p {
					color: #444c5a;
				}
			}

			.foto2 {
				grid-area: rightThree;
				background-image: url("/media/images/sigrid2.jpg");
				background-size: cover;
				background-position: center top;
			}

			.kwaliteiten {
				grid-area: leftFour;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				align-content: center;
				font-size: 0.65rem;
				color: #bdc6e5;
				background-color: #0d0e10;
				h4 {
					color: #f1f0f6;
				}
			}

			.motto {
				grid-area: rightFour;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				color: #0d0e10;
				background-color: #f1f0f6;
				font-size: 0.7rem;
				p {
					color: #444c5a;
				}
			}

			.info {
				grid-area: leftFive;
				display: flex;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				align-content: center;
				color: #0d0e10;
				background-color: #f1f0f6;
				font-size: 0.65rem;
				p {
					color: #444c5a;
				}
				a {
					color: #444c5a;
					text-decoration: none;
					font-style: italic;
					font-weight: bold;
					&:hover {
						color: #0d0e10;
					}
				}
			}

			.foto3 {
				grid-area: rightFive;
				background-color: #0d0e10;
			}
		}

		@keyframes flipTile-hor {
			0% {
				transform: rotateY(0);
			}
			50% {
				transform: rotateY(270deg);
			}
			100% {
				transform: rotateY(360deg);
			}
		}

		@media (min-width: 600px) {
			.bodyContainer {
				h1 {
					font-size: 2.5rem;
				}
				h4 {
					font-size: 0.9rem;
				}
				p {
					padding: 0 1rem;
					font-size: 0.9rem;
				}
				a {
					font-size: 0.9rem;
				}

				.referentie {
					p {
						padding: 1rem;
					}
				}
			}
		}
	}
}
