.bodyContainer {
	grid-template-rows: 1fr 1fr 1fr auto;

	.header {
		background-image: url("/media/images/webulousHeader.png");
	}

	@media (min-width: 600px) {
		grid-template-rows: 1fr 2.2fr 1fr auto;
	}
	@media (min-width: 720px) {
		grid-template-rows: 1fr 3.5fr 1fr auto;
	}
	@media (min-width: 1200px) {
		grid-template-rows: 1fr 5fr 1fr auto;
	}
}
